<div class="row">
    <div class="col-sm equation-element">{{equation.leftXDigit}}</div>
    <div class="col-sm equation-element">x</div>
    <div class="col-sm equation-element">+</div>
    <div class="col-sm equation-element">{{equation.leftDigit}}</div>
    <div class="col-sm equation-element">=</div>
    <div class="col-sm equation-element">{{equation.rightXDigit}}</div>
    <div class="col-sm equation-element">x</div>
    <div class="col-sm equation-element">+</div>
    <div class="col-sm equation-element">{{equation.rightDigit}}</div>
    <div class="col-sm equation-element equation-operation">{{this.operation}}</div>
</div>