<div class="equation" class="alert" [ngClass]="equation.isSolved() ? 'alert-success' : 'alert-dark'">
    <app-equation-component [digitContent]="equation.getLeftXDigit()" [isXPart]="true"></app-equation-component>
    <app-equation-component [digitContent]="equation.getLeftDigit()" [isXPart]="false"></app-equation-component>
    <app-equation-component></app-equation-component>
    <app-equation-component [digitContent]="equation.getRightXDigit()" [isXPart]="true"></app-equation-component>
    <app-equation-component [digitContent]="equation.getRightDigit()" [isXPart]="false"></app-equation-component>
</div>
<div *ngIf="operation.length > 0" class="equation-operation" class="alert alert-info">
    <app-equation-component [operation]="operation" [digitContent]="equation.getLeftXDigit()" [isXPart]="true"></app-equation-component>
    <app-equation-component [operation]="operation" [digitContent]="equation.getLeftDigit()" [isXPart]="false"></app-equation-component>
    <app-equation-component></app-equation-component>
    <app-equation-component [operation]="operation" [digitContent]="equation.getRightXDigit()" [isXPart]="true"></app-equation-component>
    <app-equation-component [operation]="operation" [digitContent]="equation.getRightDigit()" [isXPart]="false"></app-equation-component>
</div>