<div class="row btn-toolbar" role="toolbar">
    <button class="btn btn-primary" (click)=generateRandomEquation()>Générer un nouvelle équation aléatoirement</button>
    <label>
        Minimum :
        <input [(ngModel)]="randomMinDigit" class="form-control" type="number" step="1">
    </label>
    <label>
        Maximum :
        <input [(ngModel)]="randomMaxDigit" class="form-control" type="number" step="1">
    </label>
    <button (click)="applyValueToEquation('+')" type="button" class="btn btn-success">+</button>
    <button (click)="applyValueToEquation('-')" type="button" class="btn btn-success">-</button>
    <button (click)="applyValueToEquation('*')" type="button" class="btn btn-success">X</button>
    <button (click)="applyValueToEquation('/')" type="button" class="btn btn-success">/</button>
    <label>
        Valeur :
        <input [(ngModel)]="valueToApplyText" class="form-control" type="text">
    </label>
</div>
<app-equation-list [equations]="this.equationList" [operations]="this.operationList"></app-equation-list>